* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullview-row{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.centered-content{
    text-align: center;
    padding: 30px;
}
