* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullview-row{
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.centered-content{
    text-align: center;
    padding: 30px;
}

.card-container{
    perspective: 200rem;
    position: relative;
    height:500px;
}

.card-container:hover .card-front{
    transform: rotateY(180deg);
}

.card-container:hover .card-back{
    transform: rotateY(0deg);
}

.card-back{
    transform: rotateY(180deg);
}

.card-container > .card{
    transition: all 0.9s;
    height: 100%;
    width: 100%;
    position: absolute;
    backface-visibility: hidden;
}
