* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fullview{
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Homepage */

.nav{
    height: 150px;
    align-items: center;
    position: absolute;
}

.nav-item{
    font-size: 30px;
    color: white;
    margin-right: 50px;
    font-family: Montserrat;
    font-weight: 400;
}

#nav_logo{
  position: absolute; 
  height:150px; 
  margin-left: 50px;
  display:flex; 
  justify-content: center; 
  align-items: center; 
  color: #329F5B;
  font-family: Montserrat;
  font-weight: 700;
}

.nav-link{
  color:white;
}

.nav-link:hover{
  color: black;
  background-color: white;
}


#welcome, #information{
  background-color:black;
  color: white;
}

.on-top{
  position: absolute;
}

.animation{
  font-size: 120px;
  opacity: 0;
  position: absolute;
  font-family: Montserrat;
  font-weight: 500;
}

#english{
  animation: ani1 15s infinite;
}


#spanish{
  animation: ani2 15s infinite;
}

#japanese{
  animation: ani3 15s infinite;
}

#korean{
  animation: ani4 15s infinite;
}

#portuguese{
  animation: ani5 15s infinite;
}


@keyframes ani1{
  0%{
    opacity: 0;
  }
  10%{
    opacity: 1;
  }
  20%{
    opacity: 0;
  }
}

@keyframes ani2{
  20%{
    opacity: 0;
  }
  30%{
    opacity: 1;
  }
  40%{
    opacity: 0;
  }
}

@keyframes ani3{
  40%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  60%{
    opacity: 0;
  }
}

@keyframes ani4{
  60%{
    opacity: 0;
  }
  70%{
    opacity: 1;
  }
  80%{
    opacity: 0;
  }
}

@keyframes ani5{
  80%{
    opacity: 0;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

/* Arrow animation */

/* .arrow,
.arrow:before {
  position: absolute;
  left: 50%;
}
                                    
.arrow {
  width: 40px;
  height: 40px;
  top: 50%;
  margin: -20px 0 0 -20px;
  -webkit-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #fff solid;
  border-bottom: 2px #fff solid;
}
                                    
.arrow:before {
  content: "";
  width: 20px;
  height: 20px;
  top: 50%;
  margin: -10px 0 0 -10px;
  border-left: none;
  border-top: none;
  border-right: 1px #fff solid;
  border-bottom: 1px #fff solid;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}
                                    
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
      transform: translate(-10px, -10px);
  }
} */
                                    
  
/* Sign-in & Signup */

#signin,#signup{
  background-color: black;
}

#canvas3d_two {
  background-color: black;
  animation: fadeInAnimation ease-in 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
0% {
  opacity: 0;
}
100% {
  opacity: 1;
}
}

#logup-card{
  width:30%; 
  height: 60%; 
  padding: 30px;
  border-radius: 20px;
  position: absolute;
}

#logup-logo{
  display:flex; 
  flex-direction: column; 
  align-items: center; 
  margin-top: 90px;
  font-family: Montserrat;
  font-weight: 700;
  font-size: 40px;
}

#logup-inputs{
  display:flex; 
  flex-direction: column; 
  justify-content:start; 
  font-size: 20px; 
  color:lightslategray;
}

#logup-form{
  height: 55%; 
  display:flex; 
  flex-direction: column; 
  justify-content:space-evenly;
}

.form-control{
  background-color: rgb(252, 252, 252);
}

/* Workspace */

#workspace-nav{
  position: static; 
  background-color: black; 
  justify-content: space-evenly; 
  border-bottom-left-radius: 40px; 
  border-bottom-right-radius: 40px; 
  height: 130px;
}

.work-btn{
  font-size: 20px;
  margin-right: 15px;
  font-family: Montserrat;
  font-weight: 500;
}

#deck-btns{
  text-align: left;
  padding:20px 0px 0px 0px;
}

/* Customizer */

.customizer-nav{
  position: static; 
  background-color: black; 
  color: white;
  border-bottom-left-radius: 40px; 
  border-bottom-right-radius: 40px; 
}

.cust-btn, .session-btn{
  font-size: 20px;
}

#deck-form{
  display: flex; 
  flex-direction:column; 
  justify-content: start; 
  height:90%;
}

#imgcard_preview{
  height:50%; 
  display: flex; 
  justify-content: center; 
  align-items: center;
}

#edit-section, #flashcard-section{
  max-height:100%;
  overflow-y: auto;
}


/* Study session flipping mechanics */
.card-container{
    height:700px;
    width:1300px
}

.card_inner{
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card_inner.is-flipped{
    transform: rotateY(180deg);
}

.card_inner > .card{
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0, 0.2);
}

.card-back{
    transform: rotateY(180deg);
}

.update-flashcard{
  display: flex; 
  flex-direction:column;  
  justify-content: left; 
  padding: 20px;
}
