{% extends 'base.html' %}
{% block title %} Web App Name {% endblock %}

{% block head %}{% endblock %}


{% block body %}

<h1>Deck Design Space</h1>

<div class="container-fluid">
    <div class="row">   
        <form name="deck-design" action="#">
            Deck name: <input type="text" placeholder="new deck name"><br>
            Image: <input type="file"><br>
            Font: <input type="text"><br>
            Font color: <input type="color"><br>
        </form>
    </div> 
    <div class="row">  
        <form name="new-card" action="#">
            Front: <input type="text" placeholder="..."><br>
            Back: <input type="text" placeholder="..."><br>
            Image: <input type="file"><br>
            <button type="submit">Add new flashcard</button>
        </form>
    </div>
    <div class="row">  
        
    </div>
</div>

{% endblock %}
    
{% block after_body %}{% endblock %}
