{% extends 'base.html' %}

{% block fonts %}
    {% if " " in deck.deck_font %}
        {% set tokens = deck.deck_font.split(" ") %}
        {% set font = "+".join(tokens) %}
        <link href="https://fonts.googleapis.com/css2?family={{font}}" rel="stylesheet">
    {% else %}
        <link href="https://fonts.googleapis.com/css2?family={{deck.deck_font}}" rel="stylesheet">
    {% endif %}
    <link href="" rel="stylesheet" id="google_fonts">
{% endblock %}

{% block title %} Design Space {% endblock %}

{% block head %}

<style>

.fullview{
    height: 100vh;
}

#edit-section, #flashcard-section{
    max-height:100%;
    overflow-y: auto;
}

#title{
    height:10%;
    align-content: center;
}

#deck-form{
    height:60%;
    align-content: center;
}

#flashcard-form{
    height:30%;
}

</style>

{% endblock %}


{% block body %}

<div class="container-fluid fullview">

    <div class="row" style="height:100%;">
        
        <div class="col-8" id="edit-section" style="height:100%;">  



            <div class="row customizer-nav" id="title" style="height:10%;">
                <div class="col-3">
                    <a href="/workspace" class="btn btn-primary" style="margin-left: 10px; font-size: 20px;">Return to your decks</a>
                </div>
                <div class="col-4" style="text-align: left; margin-left: 130px;">
                    <h2>{{ deck.deck_name }} Deck Design Space</h2>
                </div>
            </div> 


            <div class="row" id="deck-form" style="display: flex; flex-direction:column; justify-content: start; 
            height:90%;">

                <div class="row" style="height:50%; display: flex; flex-direction: column; justify-content: center; 
                align-items: center;">
                    <div class="col-6">
                        <img id="uploaded_image" src="{{deck.deck_img_url}}" width="600" height="400"/>
                    </div>
                
                    <div class="col-6">
                        <div class="card card-front" id="card_display" style="background-color: {{deck.deck_color}}; 
                        font-family: '{{deck.deck_font}}'; color: {{deck.deck_font_color}}; padding: 30px; height: 400px">
                            <div class="row" style="justify-content: center; padding:  30px 0px;">
                                <div class="col-5" id="flashcard_img">      
                                    <img src="/static/placeholder.png.webp" class="card-img-top" alt="..." width="350" height="150">
                                </div>
                            </div>
                            <div class="row card-body" id="front-side" style="align-items: center;">
                                <h4 class="card-title" name="" style="font-size: 60px" id="front_content">content</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="height:50%; display: flex; justify-content: center; align-items: start;">
                    <form class=" row form-floating update-deck" id={{deck.deck_id}} enctype="multipart/form-data" method="POST"
                    style="justify-content: center;">
                        <div class="col-8">
                            <div class="form-floating" style="margin: 15px">
                                <input type="text" class="form-control form-control-lg" id="deck_name" name="deck_name_" value="{{deck.deck_name}}" 
                                placeholder={{deck.deck_name}}>
                                <label for="deck_name">Deck name</label>
                            </div>

                            <div class="form-floating" style="margin: 15px">
                                <select id="deck_font" class="form-select form-select-lg" name="deck_font" onchange="preview_card()">
                                    <option value={{deck.deck_font}} selected>{{ deck.deck_font }}</option>
                                    <option value="Helvetica Neue">Helvetica Neue</option>
                                    {% for font in fonts %}
                                        <option value="{{ font }}">{{ font }}</option>
                                    {% endfor %}
                                </select>
                                <label for="deck_font">Deck font</label>
                            </div>

                            <div class="row">
                                <div class="input-group" style="margin: 15px; width: 500px; height: 40px;">
                                    <input type="file" class="form-control form-control-lg" name="deck_img" id="deck_img_url" onchange="preview()">
                                    <label class="input-group-text" for="deck_img_url">Upload</label>
                                </div>
                                <div class="col-2" style="text-align: left;">
                                    <label for="deck_color" class="form-label" style="font-size: 20px;">Deck color</label>
                                    <input type="color" class="form-control form-control-lg form-control-color" name="deck_color" id="deck_color" value="{{deck.deck_color}}" onchange="preview_card()">
                                </div>
                                <div class="col-2" style="text-align: left;">
                                    <label for="font_color" class="form-label" style="font-size: 20px;">Font color</label>
                                    <input type="color" class="form-control form-control-lg form-control-color" name="deck_font_color" id="deck_font_color" value="{{deck.deck_font_color}}" onchange="preview_card()"> 
                                </div>
                            </div>

                            
                            <button type="submit" class="col-5 btn btn-primary" style="margin: 50px; font-size: 20px;" id="edit-deck-info">Save</button> 
                          

                        </div>
                    </form>
                </div>
            </div>
        </div>

        <ul class="col-4 list-group" id="flashcard-section" style="border-left: solid 1px lightslategray;">
            <div id="flashcard-form" style="background-color:black; padding: 50px 75px 50px 75px;">
                <h3 style="margin-bottom:40px; color: white;">Add a new card</h3>
                <form id="create-flashcard" action="/create-flashcard" method="POST">
                    <div class="form-floating" style="margin: 20px;">
                        <input type="text" class="form-control form-control-lg" placeholder="front" id="front" name='front_content' required>
                        <label for="front">Front</label>
                    </div>
                    <div class="form-floating" style="margin: 20px;">
                        <input type="text" class="form-control form-control-lg" placeholder="back" id="back" name='back_content' required>
                        <label for="back">Back</label>
                    </div>
                    <button type="submit" style="margin-top:10px; font-size: 20px;" class="btn btn-primary">Add new flashcard</button>
                </form>
            </div>
            {% for flashcard in flashcards %}
            <li class="list-group-item" id="flashcard-{{ flashcard.flashcard_id }}" style="display: flex; justify-content: space-between;">
                <h4 class="flashcard-title" id="flashcard-title-{{flashcard.flashcard_id}}" style="display: inline; text-align: center; font-size: 30px;">{{ flashcard.front_content }}</h4>
                <div>
                    <button type="button" class="delete-flashcard btn btn-danger" id="{{ flashcard.flashcard_id }}" style="font-size: 20px;">Delete</button>
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#update-{{ flashcard.flashcard_id }}"
                    aria-expanded="false" aria-controls="update-{{ flashcard.flashcard_id }}" style="font-size: 20px;">Edit</button>

                    <div class="collapse" id="update-{{ flashcard.flashcard_id }}">
                        <div class="card card-body" style="width: 400px;"> 
                            <div style="text-align:end;">
                                <button type="button" class="btn-close" data-bs-toggle="collapse" data-bs-target="#update-{{ flashcard.flashcard_id }}"
                                aria-expanded="false" aria-controls="update-{{ flashcard.flashcard_id }}" aria-label="Close"></button>
                            </div>
                            <div>
                                <img id="uploaded_card_image_{{flashcard.flashcard_id}}" src="{{flashcard.flashcard_img}}" width="350" height="200"/><br>
                            </div>
                            <form class="update-flashcard" id="update-flashcard-{{ flashcard.flashcard_id }}" name="{{ flashcard.flashcard_id }}">
                                Front: <input type="text" id="front_update-{{ flashcard.flashcard_id }}" name='front_content' placeholder="{{ flashcard.front_content }}" value="{{ flashcard.front_content }}"><br>
                                Back: <input type="text" id="back_update-{{ flashcard.flashcard_id }}" name='back_content' placeholder="{{ flashcard.back_content }}" value="{{ flashcard.back_content }}"><br>
                                Image: <input type="file" name="flashcard_img" id="flashcard_img_url_{{flashcard.flashcard_id}}" onchange="preview_img('{{ flashcard.flashcard_id }}')"><br>
                                <button class="btn btn-primary" type="submit">Update flashcard</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}
    
{% block after_body %}{% endblock %}
