{% extends 'base.html' %}

{% block fonts %}
    {% if " " in deck.deck_font %}
        {% set tokens = deck.deck_font.split(" ") %}
        {% set font = "+".join(tokens) %}
        <link href="https://fonts.googleapis.com/css2?family={{font}}" rel="stylesheet">
    {% else %}
        <link href="https://fonts.googleapis.com/css2?family={{deck.deck_font}}" rel="stylesheet">
    {% endif %}
    <link href="" rel="stylesheet" id="google_fonts">
{% endblock %}

{% block title %} Design Space {% endblock %}

{% block head %}

<style>

.fullview{
    height: 100vh;
}

#edit-section, #flashcard-section{
    max-height:100%;
    overflow-y: auto;
}

#title{
    height:10%;
    align-content: center;
}

#deck-form{
    height:60%;
    align-content: center;
}

#flashcard-form{
    height:30%;
}

</style>

{% endblock %}


{% block body %}

<div class="container-fluid fullview" style="background-color: green;">

    <div class="row" style="background-color: yellow; height:100%;">
        
        <div class="col-8" id="edit-section" style="background-color: lightblue;">  

            <div class="row" id="title" style="background-color: lightslategrey;">
                <h2>{{ deck.deck_name }} Deck Design Space</h2>
                <a href="/workspace">Return to your decks</a>
            </div> 

            <div class="row" id="deck-form" style="background-color: lightsalmon;">

                <div class="col-6" >
                    <img id="uploaded_image" src="{{deck.deck_img_url}}" width="350" height="200"/><br>
                </div>
                <div class="col-4 card card-front" id="card_display" style="background-color: {{deck.deck_color}}; font-family: '{{deck.deck_font}}'; color: {{deck.deck_font_color}}; padding: 30px;">
                    <div class="row" style="justify-content: center;">
                        <div class="col-5" id="flashcard_img">      
                            <img src="/static/placeholder.png.webp" class="card-img-top" alt="..." width="300" height="100">
                        </div>
                    </div>
                    <div class="row card-body" id="front-side">
                        <h4 class="card-title" name="" id="front_content">Content</h4>
                    </div>
                </div>
                <form class="update-deck" id={{deck.deck_id}} enctype="multipart/form-data" method="POST">
                    Deck name: <input type="text" id="deck_name" name="deck_name_" value="{{deck.deck_name}}" placeholder={{deck.deck_name}}><br>
                    Image: <input type="file" name="deck_img" id="deck_img_url" onchange="preview()"><br>
                    Font: <select id="deck_font" name="deck_font" onchange="preview_card()">
                        <option value={{deck.deck_font}} selected>{{ deck.deck_font }}</option>
                        <option value="Helvetica Neue">Helvetica Neue</option>
                        {% for font in fonts %}
                            <option value="{{ font }}">{{ font }}</option>
                        {% endfor %}
                    </select><br>
                    Deck color: <input type="color" name="deck_color" id="deck_color" value="{{deck.deck_color}}" onchange="preview_card()"><br>
                    Font color: <input type="color" name="deck_font_color" id="deck_font_color" value="{{deck.deck_font_color}}" onchange="preview_card()"><br> 
                    <button type="submit" id="edit-deck-info">Save</button> 
                </form>
            </div>

            <div class="row" id="flashcard-form" style="background-color: lightgreen;">  
                <form id="create-flashcard" action="/create-flashcard" method="POST">
                    Front: <input type="text" placeholder="front" id="front" name='front_content' required><br>
                    Back: <input type="text" placeholder="back" id="back" name='back_content' required><br>
                    <!-- BLOCK#2: <button id="{{deck.deck_id}}" type="submit">Add new flashcard</button> -->
                    <button class="btn btn-primary" type="submit">Add new flashcard</button>
                </form>
            </div>

        </div>

        <ul class="col-4 list-group" id="flashcard-section" style="background-color: pink;">
            {% for flashcard in flashcards %}
            <li class="list-group-item" id="flashcard-{{ flashcard.flashcard_id }}" style="display: flex; justify-content: space-between;">
                <h4 class="flashcard-title" id="flashcard-title-{{flashcard.flashcard_id}}" style="display: inline;">{{ flashcard.front_content }}</h4>
                <div>
                    <button type="button" class="delete-flashcard btn btn-danger" id="{{ flashcard.flashcard_id }}">Delete</button>
                    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#update-{{ flashcard.flashcard_id }}"
                    aria-expanded="false" aria-controls="update-{{ flashcard.flashcard_id }}">Edit</button>

                    <div class="collapse" id="update-{{ flashcard.flashcard_id }}">
                        <div class="card card-body" style="width: 400px;"> 
                            <div style="text-align:end;">
                                <button type="button" class="btn-close" data-bs-toggle="collapse" data-bs-target="#update-{{ flashcard.flashcard_id }}"
                                aria-expanded="false" aria-controls="update-{{ flashcard.flashcard_id }}" aria-label="Close"></button>
                            </div>
                            <div>
                                <img id="uploaded_card_image_{{flashcard.flashcard_id}}" src="{{flashcard.flashcard_img}}" width="350" height="200"/><br>
                            </div>
                            <form class="update-flashcard" id="update-flashcard-{{ flashcard.flashcard_id }}" name="{{ flashcard.flashcard_id }}">
                                Front: <input type="text" id="front_update-{{ flashcard.flashcard_id }}" name='front_content' placeholder="{{ flashcard.front_content }}" value="{{ flashcard.front_content }}"><br>
                                Back: <input type="text" id="back_update-{{ flashcard.flashcard_id }}" name='back_content' placeholder="{{ flashcard.back_content }}" value="{{ flashcard.back_content }}"><br>
                                Image: <input type="file" name="flashcard_img" id="flashcard_img_url_{{flashcard.flashcard_id}}" onchange="preview_img('{{ flashcard.flashcard_id }}')"><br>
                                <button class="btn btn-primary" type="submit">Update flashcard</button>
                            </form>
                        </div>
                    </div>

                </div>
            

            </li>
        {% endfor %}
        </ul>

    </div>

</div>

{% endblock %}
    
{% block after_body %}{% endblock %}
