{% extends 'base.html' %}
{% block title %}Web App Name{% endblock %}

{% block head %}{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row" id="section-one">
        <div class="col section">
            <h1>Welcome</h1>
            <a href="/signin" id="study">Start Studying!</a>
            <p>Scroll down to learn more</p>
        </div>
    </div>

    <div class="row" id="section-two">
        <div class="col-6 section" id="creator-img">
            <img src="#">
        </div>
        <div class="col-5 section" id="project-info">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tempus ante, eget tempus magna. Quisque a gravida augue. 
                Sed a hendrerit mi. Vivamus at lobortis nibh. Praesent aliquet, eros non semper efficitur, enim tortor tristique justo,
                eu maximus turpis ipsum at mi. Integer imperdiet urna risus, id faucibus sapien aliquameget. Nunc maximus, justo sed 
                consectetur consequat, leo lectus gravida felis, id consectetur neque ante vitae ipsum. Pellentesque quis fermentum lectus, 
                vel condimentum odio. Fusce sed nisi vitae tortor vestibulum suscipit eu non magna. Maecenas fermentum metus in massa 
                molestie, non convallis erat dictum. Sed tortor nisl, pharetra non quam et, fermentum porta justo.</p>
        </div>
    </div>

</div>

{% endblock %}
    
{% block after_body %}{% endblock %}