{% extends 'base.html' %}
{% block title %}Web App Name{% endblock %}

{% block head %}

<style>

body {
    background-color: black;
	animation: fadeInAnimation ease-in 3s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

</style>


{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row" id="navbar">
        <h1 class="col-1" id="nav_logo">Studybit.</h1>
        <ul class="nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/signin" id="study">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Github</a>
            </li>
        </ul>
    </div>

    
    <div class="row fullview" id="welcome">
        <canvas id="canvas3d"></canvas>
        <div class="on-top" id="welcome-animation" style="display: flex; justify-content: center; align-items: center;">
            <p class="animation" id="english">Welcome</p>
            <p class="animation" id="spanish">Bienvenidos</p>
            <p class="animation" id="chinese">歡迎光臨</p>
            <p class="animation" id="japanese">ようこそ</p>
            <p class="animation" id="korean">환영합니다</p>
            <p class="animation" id="portuguese">Bem-vindos</p>
        </div>
        <div class="on-top" style="margin-top: 900px;">
            <div class="arrow" id="scroll-arrow"></div>
        </div>
    </div>

    <div class="row fullview" id="information">
        <div class="col-5 centered-content">
            <iframe src="https://giphy.com/embed/O5aYUFoJQqTV6" width="480" height="269" frameBorder="0" class="giphy-embed" allowFullScreen></iframe> 
        </div>
        <div class="col-5 centered-content">
            <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi ut tempus ante, eget tempus magna. Quisque a gravida augue. 
                Sed a hendrerit mi. Vivamus at lobortis nibh. Praesent aliquet, eros non semper efficitur, enim tortor tristique justo,
                eu maximus turpis ipsum at mi. Integer imperdiet urna risus, id faucibus sapien aliquameget. Nunc maximus, justo sed 
                consectetur consequat, leo lectus gravida felis, id consectetur neque ante vitae ipsum. Pellentesque quis fermentum lectus, 
                vel condimentum odio. Fusce sed nisi vitae tortor vestibulum suscipit eu non magna. Maecenas fermentum metus in massa 
                molestie, non convallis erat dictum. Sed tortor nisl, pharetra non quam et, fermentum porta justo.</p>
        </div>
    </div>

</div>

{% endblock %}
    
{% block after_body %}{% endblock %}