{% extends 'base.html' %}
{% block title %} Web App Name {% endblock %}

{% block head %}{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row fullview-row">
        <div class="col-4 centered-content">
            <form name="signup" action="/login-signup" method="POST">
                First name  <input type="text" placeholder="first name" name="fname" required><br>
                Last name   <input type="text" placeholder="last name" name="lname" required><br>
                Email   <input type="email" placeholder="email" name="email" required><br>
                Phoner Number (omit dashes)  <input type="tel" placeholder="phone number (optional)" name="phone_number"><br>
                Password    <input type="password" placeholder="password" name="password" required>

                <button type="submit" id="signupButton">Sign Up</button>

                <p>Alredy have an account? <a href="/signin">Log in</a></p>

            </form>
        </div>
    </div>

</div>


{% endblock %}
    
{% block after_body %}{% endblock %}