{% extends 'base.html' %}
{% block title %} Studybit. {% endblock %}

{% block head %}{% endblock %}


{% block body %}

<div class="container-fluid">

    <!-- <div class="row">
        <h1 class="col-1" id="nav_logo" href="/" >Studybit.</h1>
    </div> -->

    <div class="row fullview" id="signin">
        <canvas id="canvas3d_two"></canvas>
        <div class="card" id="logup-card" style="margin-left: 1000px">
            <div id="logup-logo">
                <a style="text-decoration: none; color: #329F5B;" href="/">Studybit.</a>
            </div>
            <div class="card-body" id="logup-inputs">
                <form class="form-floating" name="signin" id="logup-form" action="/login-signup">
                    <div class="form-floating">
                        <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com" style="font-size: 23px;" required><br>
                        <label for="floatingEmail">Email address</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password" style="font-size: 23px;" required>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button class="btn btn-dark" type="submit" id="loginButton" style="margin-top: 20px; font-size: 24px;">Log in</button>
                </form>
                <div style="margin-top: 65px;">
                    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>

</div>


{% endblock %}
    
{% block after_body %}{% endblock %}