{% extends 'base.html' %}
{% block title %} Web App Name {% endblock %}

{% block head %}{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row fullview-row">
        <div class="col-4 centered-content">
            <form name="signin" action="/login-signup">
                Email<input type="email" placeholder="email" name="email" required><br>
                Password<input type="password" placeholder="password" name="password" required>
                <button type="submit" id="loginButton">Log in</button>
            </form>
            <p>Don't have an account? <a href="/signup">Sign Up</a></p>
        </div>
    </div>

</div>


{% endblock %}
    
{% block after_body %}{% endblock %}