{% extends 'base.html' %}

{% block fonts %}
    {% if " " in deck.deck_font %}
        {% set tokens = deck.deck_font.split(" ") %}
        {% set font = "+".join(tokens) %}
        <link href="https://fonts.googleapis.com/css2?family={{font}}" rel="stylesheet">
    {% else %}
        <link href="https://fonts.googleapis.com/css2?family={{deck.deck_font}}" rel="stylesheet">
    {% endif %}
{% endblock %}

{% block title %} Web App Name {% endblock %}

{% block head %}{% endblock %}


{% block body %}
<div class="container-fluid" style="background-color: #141414;">
    <!-- <canvas id="confetti" style="position: absolute;"></canvas> -->
    <div class="row fullview" style="align-items: start;">

        <div class="row nav" style="justify-content: space-between; padding: 0 50px;" id="workspace-nav">
            <div class="col-6" style="text-align:left; margin-top: 10px;">
                <h1 id="deck.deck_id" style="font-family: '{{deck.deck_font}}'; color: white;">{{deck.deck_name}}</h1>
            </div>
            <div class="col-1" >
                <a href="/workspace" class="session-btn btn btn-danger" style="display:block;" id="exit">Exit session</a>
            </div>
        </div>

        <div class="row" style="height: 75%;">
            <div class="row" style="justify-content:center; align-items: center;">
                <div class="col-3" id="finished" style="display:none; text-align: center; background-color: black; color:white; padding: 30px; height: 20%; border-radius: 15px;">      
                    <h1 style="text-align: center;">Review completed!</h1>
                    <div style="margin: 20px; text-align: center; padding: 10px;">
                        <a href="/workspace" class="session-btn btn btn-danger" style="margin-right: 30px">Exit session</a>
                        <a href="/study-session/{{deck.deck_id}}" class="session-btn btn btn-primary">Restart</a>
                    </div>
                </div>

                <div class="col-8 card-container" id="unfinished" style="display:block;">
                    <div class="card_inner">
                        <div class="card card-front" style="background-color: {{deck.deck_color}}; font-family: '{{deck.deck_font}}'; color: {{deck.deck_font_color}}; 
                            padding: 100px 20px 50px 20px;">
                            <div class="row" style="justify-content: center;">
                                <div class="col-6" id="flashcard_img">      
                                    <img src="{{flashcards[i].flashcard_img}}" class="card-img-top" alt="..." width="300" height="300" style="border-radius: 20px;">
                                </div>
                            </div>
                            <div class="row card-body" id="front-side" style="display:flex; flex-direction: column; justify-content: end; ">
                                <p class="card-title" name="{{i}}" style="font-size: 100px;" id="front_content">{{flashcards[i].front_content}}</p>
                            </div>
                        </div>

                        <div class="card card-back" style="background-color: {{deck.deck_color}}; font-family: '{{deck.deck_font}}'; color: {{deck.deck_font_color}}; padding: 30px;">
                            <div class="row card-body" id="back-side" style="display: flex; align-items: center; justify-content: space-evenly;">
                                <h1 class="card-title" name="{{i}}" style="font-size: 100px;" id="back_content">{{flashcards[i].back_content}}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" id="pro_next" style="display: flex; align-items: center; justify-content: space-evenly;">
                <div class="progress col-7" role="progressbar" aria-label="Default striped example" aria-valuenow="{{progress}}" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped bg-success" style="width: {{ progress }}%"></div>
                </div>
                <div class="row" id="next-btn" style="display:block;">
                    <button class="col-7 session-btn next btn btn-primary" id={{deck.deck_id}}>Next</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
    
{% block after_body %}{% endblock %}