{% extends 'base.html' %}

{% block fonts %}
    {% for deck in decks %}
        {% if " " in deck.deck_font %}
            {% set tokens = deck.deck_font.split(" ") %}
            {% set font = "+".join(tokens) %}
            <link href="https://fonts.googleapis.com/css2?family={{font}}" rel="stylesheet">
        {% else %}
            <link href="https://fonts.googleapis.com/css2?family={{deck.deck_font}}" rel="stylesheet">
        {% endif %}
    {% endfor %} 
{% endblock %}

{% block title %} Web App Name {% endblock %}

{% block head %}{% endblock %}


{% block body %}

<div class="container-fluid fullview">

    <div class="row nav" id="workspace-nav">
        <div class="col-2" id="logup-logo" style=" margin-top: 0;">
            <a style="text-decoration: none; color: white;" href="/">Studybit.</a>
        </div>
        <div class="col-6" style="color: white;">
            <h1>{{ name }}'s Workspace</h1>
        </div>
        <div class="col-2">
            <a class="btn btn-danger work-btn" href="/" name="logout">Log Out</a><br> 
        </div>
    </div>

    <div class="row" style="padding: 50px">
        <div class="col-2">
            <a href="/create-deck" id="create-deck" class="btn btn-primary work-btn">Create a Deck</a>
        </div>
    </div>

    <div class="row row-cols-4" style="margin-left: 75px; margin-right: 75px;">
        {% for deck in decks %}
        <div class="col" id="deck-{{deck.deck_id}}">
            <div class="card" style="margin: 20px; padding: 20px; border-radius: 15px;">
                <img src="{{deck.deck_img_url}}" class="card-img-top" style="height: 16rem;" alt="Image"> 
                <div class="card-body" style="background-color: {{ deck.deck_color }} ">
                    <h5 id="card-title" style=" text-align: left;  margin-top: 10px; font-size: 26px; font-family: '{{ deck.deck_font }}' ; color: {{ deck.deck_font_color }};" class="card-title">{{ deck.deck_name }}</h5>
                    <div id="deck-btns">
                        <a href="/study-session/{{deck.deck_id}}" class="btn btn-primary work-btn">Practice</a> 
                        <a id="card-edit" href="/edit-deck/{{ deck.deck_id }}" class="btn btn-success work-btn">Edit</a>
                        <button type="button" id="{{ deck.deck_id }}" class="btn btn-danger work-btn" data-bs-toggle="modal" data-bs-target="#deleteModal-{{ deck.deck_id }}">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="deleteModal-{{ deck.deck_id }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-2" id="deleteModalLabel-{{ deck.deck_id }}" style="font-size: 30px;">Delete Deck</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="font-size: 24px;">
                    Are you sure you want to delete deck '{{deck.deck_name}}'?
                </div>
                <div class="modal-footer">
                    <button type="button" id="{{ deck.deck_id }}" class="delete-deck btn btn-danger" style="font-size: 20px;" data-bs-dismiss="modal" 
                    aria-label="Delete">Delete</button>
                </div>
            </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
    
{% block after_body %}{% endblock %}
